.delivery-day-calendar
  padding: 1rem
  max-width: 640px
  background: $brand-white // temp

  p
    margin: 0 0 1rem 0
    padding: 0
    text-align: center
    font-family: $font-family-headings

  .react-calendar
    width: 300px

    .react-calendar__month-view
      > div
        > div
          display: flex
          flex-direction: column
          margin: 0 0 1rem 0

          .react-calendar__tile
            flex: 0 0 0 !important
            margin: 0.25rem
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            align-content: center
            color: $brand-red-400
            border: $brand-red-400 1px solid
            font-weight: normal

            &.disabled
              cursor: not-allowed
              color: $grey-400
              background-color: $grey-200
              border: $grey-200 1px solid

          .react-calendar__tile--active
            color: $brand-white
            background: $brand-red-400

          .react-calendar__month-view__weekdays
            width: 100%
            margin: 0 0 1rem 0

            abbr
              text-decoration: none

          .react-calendar__month-view__days__day--neighboringMonth
            opacity: 0

  div
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: center
    align-items: center
    align-content: center

    button
      padding: 0.5rem 1rem
      margin: 0 0.5rem
      text-transform: uppercase
      background: none
      border: none
      font-family: inherit
      font-weight: bold
      color: $grey-500
      cursor: pointer

      &:nth-of-type(2)
        color: $brand-red-400
        border: $brand-red-400 1px solid
        box-shadow: 2px 2px 2px 0 $grey-400

